.control p {
  color: red;
}

.container {
  margin: 90px auto;
  display: block;
  background: #aed2fb;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: auto;
}

.title {
  letter-spacing: 0;
  text-align: center;
  color: #14a0eb;
  font-weight: bold;
}

.control input {
  display: block;
  font: inherit;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 295px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

.errors {
  text-align: center;
}

.actions {
  margin-top: 1rem;
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: #21a5ff;
  color: white;
  padding: 0.5rem;
  font-weight: bold;
  border: none;
  width: 300px;
  height: 50px;
}

.actions button:hover,
.actions button:active {
  background-color: #0b1fd4;
}

.doyou {
  margin-top: 1rem;
  text-align: center;
}

.doyou a {
  text-decoration: none;
  color: #0431fa;
}

.doyou a:hover {
  color: white;
}
