@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

li,
a,
button {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

li,
a {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  background: #0082e6;
}

nav:after {
  content: "";
  clear: both;
  display: table;
}

nav .logo {
  float: left;
  color: white;
  font-size: 27px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
}

nav ul {
  float: right;
  list-style: none;
  margin-right: 40px;
  position: relative;
}

nav ul li {
  display: inline-block;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  background: #0082e6;
  padding: 8px 15px;
  line-height: 70px;
}

nav ul li a:hover {
  color: cyan;
  border-radius: 5px;
  box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff;
}

nav ul ul {
  position: absolute;
  top: 90px;
  border-top: 3px solid cyan;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s;
}

nav ul ul li {
  position: relative;
  margin: 0px;
  width: 90px;
  float: none;
  display: list-item;
}

nav ul ul li a {
  font-size: 15px;
  line-height: 50px;
}

nav ul ul li a:hover {
  color: cyan;
  box-shadow: none;
}

nav ul li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
}

nav ul ul ul {
  border-top: none;
}

nav ul ul ul li {
  position: relative;
  top: -70px;
  left: 150px;
}

.cta {
  border: none;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  text-decoration: none;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 15px;
  background: #0082e6;
  padding: 8px 15px;
}

.cta:hover {
  background-color: rgb(20, 181, 221, 0.6);
}

.show,
input {
  display: none;
}

.icon {
  display: none;
}

@media all and (max-width: 968px) {
  nav ul {
    margin-right: 0px;
    float: left;
  }

  nav .logo {
    padding-left: 30px;
    width: 95%;
  }

  nav ul li,
  nav ul ul li {
    display: block;
    width: 100%;
  }

  nav ul ul {
    top: 70px;
    position: static;
    border-top: none;
    float: none;
    display: none;
    opacity: 1;
    visibility: visible;
  }

  nav ul ul li {
    border-bottom: 0px;
  }

  nav ul ul a {
    padding-left: 15px;
  }

  .show {
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 12px;
    line-height: 70px;
    cursor: pointer;
  }

  .show:hover {
    color: cyan;
  }

  .icon {
    display: block;
    color: white;
    position: absolute;
    right: 40px;
    line-height: 70px;
    font-size: 25px;
    cursor: pointer;
  }

  nav ul a:hover {
    box-shadow: none;
  }

  .show + a,
  ul {
    display: none;
  }

  [id^="btn"]:checked + ul {
    display: block;
  }
}
