.control p {
  color: red;
}

.container {
  margin: 90px auto;
  width: 750px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content_left {
  background: #aed2fb;
  border-radius: 10px 0 0 10px;
  position: relative;
}

.content_right {
  border-radius: 0 10px 10px 0;
  position: relative;
  background: #aed2fb;
}

.img {
  width: 70%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  margin-top: 70px;
  font-weight: 800;
  font-size: 55;
  text-align: center;
  color: #096da4;
}

.title2 {
  margin-top: 70px;
  letter-spacing: 0;
  text-align: center;
  color: #14a0eb;
  font-weight: bold;
}

.control input {
  display: block;
  font: inherit;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  padding: 0.25rem;
  width: 295px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
}

.errors {
  text-align: center;
}

.actions {
  margin-top: 1rem;
  text-align: center;
}

.actions button {
  font: inherit;
  cursor: pointer;
  background-color: #21a5ff;
  color: white;
  padding: 0.5rem;
  font-weight: bold;
  width: 300px;
  height: 50px;
  border: none;
}

.actions button:hover,
.actions button:active {
  background-color: #0b1fd4;
}

.doyou {
  margin-top: 1rem;
  text-align: center;
  color: black;
}

.doyou a {
  text-decoration: none;
  color: black;
}

.doyou a:hover {
  color: white;
}

.actions2 {
  margin-top: 1rem;
  text-align: center;
}

.actions2 a {
  text-decoration: none;
  color: black;
}

.actions2 button {
  font: inherit;
  cursor: pointer;
  background-color: white;
  padding: 0.5rem;
  width: 300px;
  height: 50px;
  border: none;
}

.actions2 button:hover,
.actions2 button:active {
  background-color: #21a5ff;
}
